* {
  /* global font */
  font-family: Verdana;
  font-size: 18px;

  margin: 0;
  padding: 0;
  position: relative;
}

/* .content {
  display: flex;
  display: block;
  width: 1000px;
  height: 450px;

  line-height: 30px;
  border: 2px solid #555;
  margin: 32px;
  text-align: center;
} */

/* Navigation Boxen oben */
h1 {
  padding: 1em;
}
.nav-main {
  display: flex;
  flex-direction: row;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: black;
  font-size: 30px;
}

.nav-main .homeNav {
  cursor: pointer;
  justify-content: center;
  width: 150px;
  height: 50px;
  /* vertically centered text */
  line-height: 50px;
  position: relative;
  border: 2px solid #555;
  background: white;
  text-align: center;
  margin: 16px;
}

.nav-main .leitlinienNav {
  cursor: pointer;
  justify-content: center;
  width: 150px;
  height: 50px;
  /* vertically centered text */
  line-height: 50px;
  position: relative;
  border: 2px solid #555;
  background: white;
  text-align: center;
  margin: 16px;
}

.nav-main .nutzergruppeNav {
  cursor: pointer;
  justify-content: center;
  width: 150px;
  height: 50px;
  /* vertically centered text */
  line-height: 50px;
  position: relative;
  border: 2px solid #555;
  background: white;
  text-align: center;
  margin: 16px;
}

.nav-main .problemNav {
  cursor: pointer;
  justify-content: center;
  width: 150px;
  height: 50px;
  /* vertically centered text */
  line-height: 50px;
  position: relative;
  border: 2px solid #555;
  background: white;
  text-align: center;
  margin: 16px;
}

.nav-main .lösungNav {
  cursor: pointer;
  justify-content: center;
  width: 150px;
  height: 50px;
  /* vertically centered text */
  line-height: 50px;
  position: relative;
  border: 2px solid #555;
  background: white;
  text-align: center;
  margin: 16px;
}

.nav-main .technikNav {
  cursor: pointer;
  justify-content: center;
  width: 150px;
  height: 50px;
  /* vertically centered text */
  line-height: 50px;
  position: relative;
  border: 2px solid #555;
  background: white;
  text-align: center;
  margin: 16px;
}

.nav-main .skalierbarNav {
  cursor: pointer;
  justify-content: center;
  width: 150px;
  height: 50px;
  /* vertically centered text */
  line-height: 50px;
  position: relative;
  border: 2px solid #555;
  background: white;
  text-align: center;
  margin: 16px;
}

.nav-main .homeNav:hover,
.nav-main .leitlinienNav:hover,
.nav-main .nutzergruppeNav:hover,
.nav-main .problemNav:hover,
.nav-main .lösungNav:hover,
.nav-main .technikNav:hover,
.nav-main .skalierbarNav:hover {
  background: yellow;
}

section {
  opacity: 0;
  display: none;
  width: 100vw;
  margin: 200px 0vw 0vw; /*normally 200 px 0vw 0vw*/
  min-height: calc(100vh - 200px);
}

/* section.information {
  margin: 300px 0vw 0 0vw;
  min-height: calc(100vh - 300px);
} */

body.home section.home {
  opacity: 1;
  display: block;
}

body.leitlinie section.leitlinien {
  opacity: 1;
  display: block;
}

body.nutzergruppe section.nutzergruppe {
  opacity: 1;
  display: block;
}

body.problem section.problem {
  opacity: 1;
  display: block;
}

body.lösung section.lösung {
  opacity: 1;
  display: block;
}

body.technik section.technik {
  opacity: 1;
  display: block;
}

body.skalierbarkeit section.skalierbarkeit {
  opacity: 1;
  display: block;
}

body {
  background: #333;
  margin: 0;
  font-family: sans-serif;
}

.footer {
  background: #353535;
  color: white;
}
.container {
  background: white;
  margin: 0 auto;
  /* padding: 1em; */
  max-width: 60vw;
}

/* .container * {
  padding: 1em;
} */

.content {
  padding: 0;
}

@media screen and (min-width: 800px) {
  body {
    margin: 1em;
  }

  .content {
    display: flex;
  }

  .main {
    flex: 3;
    order: 2;
  }
}

.flex-container {
  display: flex;
  padding: 1em;
  flex-wrap: wrap; /* Standardwert = nowrap */
}

.flex-item {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 5vh;
}

.flex-item-image {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 5vh;
}

img {
  max-width: 100%;
}
