html{
  /* cursor: url(/assets/img/Blindenstock_1.png) 10 3,auto;  */
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* cursor: none; */
  font-family: monospace;
}

body{
  margin: 0;
  background-color: grey;
}

p{
  text-align: center; 
  font-size: 10rem;
  margin: 20vh 0;
}

/* .bg-img{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; 
  display: block;
  z-index: 1 !important;
} */

button{
  display: block;
  text-align: center;
  font-size: 5vh;
  margin: 0 auto;
  padding: 1vh;
  background-color: gray;
  color:lemonchiffon ;
  border: none;
  border-radius: 20px;
  transition-duration: 0.2s;
}

button:hover{
  background-color: #9553c2;
  color: orange;
}




.p5Canvas{
  height: auto !important;
  width: 100% !important;
  position: absolute;
  z-index: 0;
}


#transformationVideo{
    display: block;
    width: 100vw;
    height: auto;
    position: absolute;
    z-index: 2;
    /* //event geht nicht */
    
}


@media only screen and (max-width: 1100px) {
    #transformationVideo{
    top:25vh;
    bottom: 25vh;
    }
}

section {
  opacity: 0;
  display: none;
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 3;
  background-image: none;
  animation: fadeInOut 0.5s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* @keyframes fadeInOutBackground {
  0% {background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)}
  100% {opacity: 1;}
} */

body.intro section.intro {
  opacity: 1;
  display: block;
  
  background-image: url(assets/img/intro_1.jpg);
  background-color: rgba(131, 131, 131, 0.1);  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; 
}


body.leitlinie section.leitlinie {
  opacity: 1;
  display: block;
  background-image: url(assets/img/leitlinie_1.jpg);
  background-color: rgba(131, 131, 131, 0.1);  
  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; 
  
}

body.gleishalle section.gleishalle {
  opacity: 1;
  display: block;
  background-image: url(assets/img/gleishalle_1.jpg);
  background-color: rgba(131, 131, 131, 0.1);  
  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; 
}

body.nutzergruppe section.nutzergruppe {
  opacity: 1;
  display: block;
  background-image: url(assets/img/nutzergruppe_1.jpg);
  background-color: rgba(131, 131, 131, 0.1);  
  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; 
}

body.bahnhofshalle section.bahnhofshalle {
  opacity: 1;
  display: block;
  background-image: url(assets/img/bahnhofshalle_1.jpg);
  background-color: rgba(131, 131, 131, 0.1);  
  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; 
}

body.beforeProblem section.beforeProblem {
  opacity: 1;
  display: block;
}

body.problem section.problem {
  opacity: 1;
  display: block;
}

body.afterProblem section.afterProblem {
  opacity: 1;
  display: block;
}

body.transformation section.transformation {
  opacity: 1;
  display: block;
}

body.afterTransformation section.afterTransformation {
  opacity: 1;
  display: block;
}

body.lösung section.lösung {
  opacity: 1;
  display: block;
}

body.afterLösung section.afterLösung {
  opacity: 1;
  display: block;
}

body.technik section.technik {
  opacity: 1;
  display: block;
}

body.afterTechnik section.afterTechnik{
  opacity: 1;
  display: block;
}

body.skalierbarkeit section.skalierbarkeit {
  opacity: 1;
  display: block;
}
